<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Nie masz uprawnień do tej strony!</h2>
        <p>Kliknij przycisk, aby wrócić do strony głównej</p>
        <hr />
        <p>
             <a asp-controller="Books" asp-action="Index" class="btn btn-outline-success">
                 Strona Główna
             </a>
        </p>
    </div>
</div>