<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Konto utworzone pomyślnie</h2>
        <p>Możesz zalogować się na swoje konto!</p>
        <hr />
        <p>Dziękujemy!</p>
    </div>
</div>