@model Book_Shop_Web_Application.Models.Author

@{
    ViewData["Title"] = "Szczegóły autora";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Informacje o Autorze</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
                    <div class="form-group text-left">
                        <h4>Autor</h4>
                        <p>@Model.FullName</p>
                        <h4>Opis</h4>
                        <p>@Model.Bio</p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePictureURL" class="control-label" hidden></label>
                    <input asp-for="ProfilePictureURL" class="form-control" hidden />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
                    }
                    <a class="btn btn-outline-secondary" asp-action="Index">Pokaż wszystkich</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })
    </script>
}