<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Zamówienie zakończone pomyślnie</h2>
        <p>Możesz zobaczyć swoje zamówienia w zakładce Zamówienia na twoim profilu</p>
        <hr />
        <p>Dziękujemy!</p>
    </div>
</div>